Repository RepoStash/FD-NewBay, pull requests merged in 2024-08, with the labels that each got.

#49 Awayshit
  maps/torch_fd/fd_torch.dm
  mods/_fd/_maps/farfleet_fd/_map_farfleet.dm
  mods/_fd/_maps/farfleet_fd/_map_farfleet.dme
  mods/_fd/_maps/farfleet_fd/assets.dm
  mods/_fd/_maps/farfleet_fd/code/farfleet.dm
  mods/_fd/_maps/farfleet_fd/code/farfleet_areas.dm
  mods/_fd/_maps/farfleet_fd/code/farfleet_crew.dm
  mods/_fd/_maps/farfleet_fd/code/farfleet_faction.dm
  mods/_fd/_maps/farfleet_fd/code/farfleet_items.dm
  mods/_fd/_maps/farfleet_fd/code/farfleet_presets.dm
  mods/_fd/_maps/farfleet_fd/code/farfleet_shuttle.dm
  mods/_fd/_maps/farfleet_fd/code/farfleet_structures.dm
  mods/_fd/_maps/farfleet_fd/code/farfleet_turbolift.dm
  mods/_fd/_maps/farfleet_fd/icons/GCC-floor.dmi
  mods/_fd/_maps/farfleet_fd/icons/iccg_flag.dmi
  mods/_fd/_maps/farfleet_fd/icons/mob/lefthand.dmi
  mods/_fd/_maps/farfleet_fd/icons/mob/onmob_head.dmi
  mods/_fd/_maps/farfleet_fd/icons/mob/onmob_suit.dmi
  mods/_fd/_maps/farfleet_fd/icons/mob/righthand.dmi
  mods/_fd/_maps/farfleet_fd/icons/obj/bonfire.dmi
  mods/_fd/_maps/farfleet_fd/icons/obj/iccg_rifle.dmi
  mods/_fd/_maps/farfleet_fd/icons/obj/mbr_bullpup.dmi
  mods/_fd/_maps/farfleet_fd/icons/obj/mr735.dmi
  mods/_fd/_maps/farfleet_fd/icons/obj/obj_head.dmi
  mods/_fd/_maps/farfleet_fd/icons/obj/obj_suit.dmi
  mods/_fd/_maps/farfleet_fd/icons/obj/stupor.dmi
  mods/_fd/_maps/farfleet_fd/maps/farfleet-1.dmm
  mods/_fd/_maps/farfleet_fd/maps/farfleet-2.dmm
  mods/_fd/_maps/gccv_ulyanovsk/code/gccv_ulyanovsk.dm
  mods/_fd/_maps/sentinel_fd/_map_sentinel.dm
  mods/_fd/_maps/sentinel_fd/_map_sentinel.dme
  mods/_fd/_maps/sentinel_fd/code/sentinel.dm
  mods/_fd/_maps/sentinel_fd/code/sentinel_areas.dm
  mods/_fd/_maps/sentinel_fd/code/sentinel_crew.dm
  mods/_fd/_maps/sentinel_fd/code/sentinel_items.dm
  mods/_fd/_maps/sentinel_fd/code/sentinel_presets.dm
  mods/_fd/_maps/sentinel_fd/code/sentinel_shuttle.dm
  mods/_fd/_maps/sentinel_fd/code/sentinel_structures.dm
  mods/_fd/_maps/sentinel_fd/code/sentinel_turbolift.dm
  mods/_fd/_maps/sentinel_fd/icons/fleet_vendomat.dmi
  mods/_fd/_maps/sentinel_fd/maps/sentinel-1.dmm
  mods/_fd/_maps/sentinel_fd/maps/sentinel-2.dmm
  mods/_fd/fd_guns/code/ammo/boxes.dm
  mods/_fd/sentinel_onfd/README.md
  mods/_fd/sentinel_onfd/_sentinel_onfd.dm
  mods/_fd/sentinel_onfd/_sentinel_onfd.dme
Labels: :mountain: Спрайты, :world_map: Карты

#47 [FD-Assets] Pure evil and Bugfixes
  baystation12.dme
  code/modules/mob/new_player/new_player.dm
  code/modules/overmap/trading_locations.dm
  maps/torch_fd/fd_torch.dm
  maps/torch_fd/job/addition/research_jobs.dm
  maps/torch_fd/torch2_deck4.dmm
  maps/torch_fd/torch3_deck3.dmm
  maps/torch_fd/torch_cameras.dm
  maps/torch_fd/torch_shuttles.dm
  maps/torch_fd/z7_admin.dmm
  mods/_fd/_maps/sfv_dropship/delman.dm
  mods/_fd/_maps/snow_cage/code/snow_cage.dm
  mods/_fd/combat_stances/code/item.dm
  mods/_fd/expanded_traders/_expanded_traders.dme
  mods/_fd/expanded_traders/code/trading_locations.dm
  mods/_fd/fd_assets/_fd_assets.dme
  mods/_fd/fd_assets/code/mobs/pureevil.dm
  mods/_fd/fd_assets/eventstuff/admintools.dm
  mods/_fd/fd_assets/icons/animals/prime_soul.dmi
  mods/_fd/fd_assets/icons/overmap.dmi
  mods/_fd/fd_assets/sounds/prime_soul/Heaven_Pierce_Her-ORDER.ogg
  mods/_fd/fd_assets/sounds/prime_soul/Mp_crush.ogg
  mods/_fd/fd_assets/sounds/prime_soul/Mp_die.ogg
  mods/_fd/fd_assets/sounds/prime_soul/Mp_die2.ogg
  mods/_fd/fd_assets/sounds/prime_soul/Mp_intro2.ogg
  mods/_fd/fd_assets/sounds/prime_soul/Mp_judgement.ogg
  mods/_fd/fd_assets/sounds/prime_soul/Mp_judgement2.ogg
  mods/_fd/fd_assets/sounds/prime_soul/Mp_outro.ogg
  mods/_fd/fd_assets/sounds/prime_soul/Mp_prepare.ogg
  mods/_fd/fd_assets/sounds/prime_soul/Mp_prepare2.ogg
  mods/_fd/fd_assets/sounds/prime_soul/Mp_thyend.ogg
  mods/_fd/fd_assets/sounds/prime_soul/Mp_thyend2.ogg
  mods/_fd/fd_assets/sounds/prime_soul/Mp_useless.ogg
  mods/_fd/fd_assets/sounds/prime_soul/Mp_weak.ogg
  mods/_fd/fd_assets/sounds/prime_soul/Pinos_death_scream.ogg
  mods/_fd/fd_assets/sounds/prime_soul/intro_music.ogg
  mods/_fd/junk_heaven/code/intel_gathering/old_terminal.dm
  mods/_fd/old_space_cannons/code/overmap_projectile.dm
Labels: :mountain: Спрайты, :sound: Звуки, :world_map: Карты

#52 Bugfix
  maps/torch/torch_overmap.dm
  maps/torch_fd/fd_torch.dm
  maps/torch_fd/job/torch_jobs.dm
  maps/torch_fd/torch1_deck5.dmm
  maps/torch_fd/torch3_deck3.dmm
  maps/torch_fd/torch_overmap.dm
  maps/torch_fd/torch_ranks.dm
  mods/_fd/fd_guns/code/guns/k342.dm
  mods/_fd/resomi_fd/_resomi.dme
  mods/_fd/resomi_fd/code/emotes.dm
Labels: :world_map: Карты

#51 Electronic Warfare Room
  maps/torch_fd/torch3_deck3.dmm
  maps/torch_fd/torch_areas.dm
Labels: :world_map: Карты

#48 [FD-Assets] Pure evil and Bugfixes | MAIN
  code/modules/mob/new_player/new_player.dm
  maps/torch_fd/fd_torch.dm
  maps/torch_fd/job/addition/research_jobs.dm
  maps/torch_fd/job/torch_jobs.dm
  maps/torch_fd/torch2_deck4.dmm
  maps/torch_fd/torch3_deck3.dmm
  maps/torch_fd/torch_cameras.dm
  maps/torch_fd/torch_ranks.dm
  maps/torch_fd/torch_shuttles.dm
  maps/torch_fd/z7_admin.dmm
  mods/_fd/_maps/snow_cage/code/snow_cage.dm
  mods/_fd/combat_stances/code/item.dm
  mods/_fd/fd_assets/_fd_assets.dme
  mods/_fd/fd_assets/code/mobs/pureevil.dm
  mods/_fd/fd_assets/code/obj/items/intel_console.dm
  mods/_fd/fd_assets/eventstuff/admintools.dm
  mods/_fd/fd_assets/icons/animals/prime_soul.dmi
  mods/_fd/fd_assets/icons/overmap.dmi
  mods/_fd/fd_assets/sounds/prime_soul/Heaven_Pierce_Her-ORDER.ogg
  mods/_fd/fd_assets/sounds/prime_soul/Mp_crush.ogg
  mods/_fd/fd_assets/sounds/prime_soul/Mp_die.ogg
  mods/_fd/fd_assets/sounds/prime_soul/Mp_die2.ogg
  mods/_fd/fd_assets/sounds/prime_soul/Mp_intro2.ogg
  mods/_fd/fd_assets/sounds/prime_soul/Mp_judgement.ogg
  mods/_fd/fd_assets/sounds/prime_soul/Mp_judgement2.ogg
  mods/_fd/fd_assets/sounds/prime_soul/Mp_outro.ogg
  mods/_fd/fd_assets/sounds/prime_soul/Mp_prepare.ogg
  mods/_fd/fd_assets/sounds/prime_soul/Mp_prepare2.ogg
  mods/_fd/fd_assets/sounds/prime_soul/Mp_thyend.ogg
  mods/_fd/fd_assets/sounds/prime_soul/Mp_thyend2.ogg
  mods/_fd/fd_assets/sounds/prime_soul/Mp_useless.ogg
  mods/_fd/fd_assets/sounds/prime_soul/Mp_weak.ogg
  mods/_fd/fd_assets/sounds/prime_soul/Pinos_death_scream.ogg
  mods/_fd/fd_assets/sounds/prime_soul/intro_music.ogg
  mods/_fd/old_space_cannons/code/overmap_projectile.dm
  mods/_fd/resomi_fd/_resomi.dme
  mods/_fd/resomi_fd/code/emotes.dm
Labels: :mountain: Спрайты, :sound: Звуки, :world_map: Карты

#58 Revert "Revert "Revert "Revert "small fixes""""
  mods/_fd/_maps/khizriel/maps/khizriel.dmm
  mods/_fd/resomi_fd/code/datum/species.dm
Labels: :world_map: Карты
